// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.auth-bg-cover {
    background: #121212 !important;
}

.auth-one-bg {
    .bg-overlay {
        background: #878a99 !important;
        opacity: 0.5 !important;
    }
}